# Database
DB_HOST=****
DB_NAME=****
DB_PORT=****
DB_USERNAME=****
DB_PASSWORD=****
DB_CONNECT_TIMEOUT=****
DB_SSL_MODE=****

# JWT
JWT_SECRET_KEY=****
JWT_ALGORITHM=****
JWT_EXPIRES_MINUTES=****

# OAUTH
OAUTH_TOKEN_URL=****

# LOGGING
LOG_LEVEL=****